<%= image_tag('images/nature.jpg',:size => '850x480')%></font>
<table width= "8" height = "10" border="2">
<tr>
	<td>
	<font color="black">  U can see the topics with related pages. U can click the pages and view. If u want to add new topics u have to login .
	just type <h2>regmiprem </h2>in username field and <h2>braindigit</h2> in password field . Thank you!!
	</td>
	</tr>
	</table>


















